<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.neu.madcourse.crack_it_up">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrackItUp">
        <receiver
            android:name=".InternetConnectivity">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife"/>

            </intent-filter>
        </receiver>

        <activity
            android:name=".ResultAnimation"
            android:noHistory="true"/>
        <activity
            android:name=".QuizActivity"
            android:exported="true"
            android:noHistory="true"/>
        <activity
            android:name=".InterviewTips"
            android:exported="true" />
        <activity
            android:name=".CoverLetterTips"
            android:exported="true" />
        <activity
            android:name=".ResumeTips"
            android:exported="true" />
        <activity android:name=".ScreenSlideActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".TopicSelection"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".BehavioralQuestionListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".BehavioralAudioRecordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>